<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Joke of the Day</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>🤣 Joke of the Day</h1>
    <p><%= joke %></p>
    <a href="/">Get Another Joke</a>
  </div>
    <footer>
    <p>&copy; 2025 FunJokes App. All rights reserved. | Built with 💙 by Rekha</p>
  </footer>
  </body>

</html>
